h1 , h2, h3, h4, h5, h6{
	color:black;
}


body{

	background-image: url("../images/touhou_background.jpg");

}

img{
	margin: 0 auto;
    display: block;
}

.container{
	background-color: rgba(255, 255, 255, 0.5);
	height: 600px;

}


.clearfix{
	overflow: auto;
	clear: both;
}

.character-card{
	margin: 0 10px;
	float: left;
	border-width: 3px;
	border-color: green;
    border-style: solid;
    background-color: white;
    width: 150px;
    height: 120px;
    color: black;

}

.character-name,.character-health{
	text-align: center;
}

.wait{
	background-color: red;
	color: black;
}

.defender{

	background-color: black;
	color: white;

}